:root {
    --main-color: #10397D;
    --main-color-hover: #1b4c9b;
    --dark-color1: #363636;
    --dark-color2: #19191B;
    --dark-color3: #222222;
    --dark-color4: #181818;
    --white-color: #ffffff;
    --gray-color1: #9D9D9D;
    --gray-color2: #C4C4C4;
    --gray-color3: #E0E0E0;
    --gray-color4: #FDFDFD;
    --gray-color5: #C3D0E1;
    --gray-color6: #F5F5F5;
    --gray-color7: #F6F5F6;
    --gray-color8: #6d6d6d;
    --pink-color1: #d71c54;
    --blue-color: #469DD1;
    --green-color: #68CD74;

}